.nav{
  background-color: rgb(56, 57, 58);
  padding: 10px;
}
li{
  display: inline;
padding: 50px;
  color: rgb(214, 238, 238);
}
.brand{
  font-size: 40px;
}
body{
  background-image: url("https://th.bing.com/th/id/OIP.l-Gmc01CD4o8KgBvQ3cNJgHaHa?pid=Api&rs=1");
  position: fixed;
min-width: 100%;
min-height: 100%;
  background-size: cover;
  background-position: center;
}
.content{
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 150px;

}
.heading{
  font-size:80px;
}
.para{
  font-size: 40px;
}
.icon{
  font-size: 25px;
}